# IDE / Editor
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.env

# NodeJS
node_modules/
build/
dist/
coverage/
.env*
!.env.example

# OS files
Thumbs.db
desktop.ini
.DS_Store

# Logs
*.log
log/
logs/

# Model checkpoint
checkpoints/
*.pth
*.pt
*.tar

# Media files
samples/
outputs/
web_uploads/
web_results/
uploads/
results/
*.mp4
*.avi
*.mov
*.gif

# FOMM core repo
fomm_core/

# Old files
demo.py